/* Headings  class*/

.head-1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
}

.head-2 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 600;
}
.head-3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
.head-4 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}
.head-5 {
  font-size: 0.5rem;
  line-height: 1rem;
  font-weight: 500;
}

/* margin class */
.m-05 {
  margin: 0.5rem;
}
.m-01 {
  margin: 1rem;
}
.m-15 {
  margin: 1.5rem;
}
.m-2 {
  margin: 2rem;
}

/* padding class */
.p-05 {
  padding: 0.5rem;
}
.p-01 {
  padding: 1rem;
}
.p-15 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2rem;
}

/* font size class  */

/* extra small  */
.fs-xs {
  font-size: 0.6rem;
}
/* small  */
.fs-s {
  font-size: 0.8rem;
}
/* regular  */
.fs-r {
  font-size: 1rem;
}
/* medium  */
.fs-m {
  font-size: 1.3rem;
}
/* large  */
.fs-l {
  font-size: 1.6rem;
}
/* extra large  */
.fs-xl {
  font-size: 2rem;
}

/* font-weight  class*/

/* bold  */
.fw-b {
  font-weight: 600;
}
/* semi bold  */
.fw-sb {
  font-weight: 500;
}
/* regular  */
.fw-r {
  font-weight: 400;
}

/*   light  */
.fw-l {
  font-weight: 300;
}
