.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(10rem, auto);
}
.grid-gap {
  gap: 1rem;
}

.grid-gap-2 {
  gap: 2rem;
}
.grid-gap-3 {
  gap: 3rem;
}
.grid-col-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-content {
  background-color: var(--blue-xl);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .grid-col-2 {
    grid-template-columns: 1fr;
  }
  .grid-col-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}
