<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utilities | GamBit UI</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon/gambit-favicon.ico">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/base16/dracula.min.css"
        integrity="sha512-zKpFlhUX8c+WC6H/XTJavnEpWFt2zH9BU9vu0Hry5Y+SEgG21pRMFcecS7DgDXIegXBQ3uK9puwWPP3h6WSR9g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>


    <header class="header">

        <h1 class="logo"><a href="#"><span class="logo-img">♞</span>GamBit UI</a></h1>

        <nav class="header-nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Docs</a></li>
            </ul>
        </nav>

        <button class="btn btn-secondary btn-lg btn-download"><a href="">Download</a></button>

    </header>



    <main class="main-intro">


        <aside>
            <div class="sidebar">
                <div class="list">
                    <div class="list-topic">
                        <a href="#">
                            Get Started
                        </a>
                    </div>
                    <ul class="list-subtopic">
                        <li>
                            <a href="#introduction">
                                Introduction
                            </a>
                        </li>
                        <li>
                            <a href="#installation">
                                Installation
                            </a>
                        </li>
                        <li>
                            <a href="#download">
                                Download
                            </a>
                        </li>
                        <li>
                            <a href="#colors">
                                Colors
                            </a>
                        </li>
                        <li>
                            <a href="#typography">
                                Typography
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="list">
                    <div class="list-topic">
                        <a href="#" class="fw-b">Components</a>
                    </div>
                    <ul class="list-subtopic">
                        <li>
                            <a href="#">
                                Alert
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Avatar
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Badge
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Button
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Card
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Image
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Input
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Lists
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Modal
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Navigation
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Toast
                            </a>
                        </li>
                        <li>
                            <a class="active" href="#">
                                Utilities
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Rating
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Grid
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


        </aside>


        <div class="content">


            <div class="content-container avatar-profile">
                <h1 class="head-1">Utilities</h1>
                <p>GamBit Ui mainly provides 2 types of Utilities: Text Utilities and Spacing Utilities.</p>


            </div>





            <div class="content-container avatar-profile text-util-container">
                <h2 class="head-1">Text Utilities</h2>
                <p><strong>.text-lt</strong> for text line through,
                    <strong>.text-ul</strong> for text underline,
                    <strong>.text-up</strong> for text uppercase,
                    <strong>.text-p-color</strong> for text primary color,
                    <strong>.text-s-color</strong> for text secondary color,
                    <strong>.text-grey</strong> for text grey color,
                    <strong>.text-small</strong> for small text,
                    <strong>.text-large</strong> for large text,
                    <strong>.text-center</strong> for center text,
                    <strong>.text-left</strong> for left text,
                    <strong>.text-right</strong> for right text.
                </p>

                <div class="example-container">
                    <p class="text-lt">This is a line through text</p>
                    <p class="text-ul">This is a underline text</p>
                    <p class="text-up">This is a uppercase text</p>
                    <p class="text-p-color">This is a primary color text</p>
                    <p class="text-s-color">This is a secondary color text</p>
                    <p class="text-grey">This is a grey text</p>
                    <p class="text-small">This is a small text</p>
                    <p class="text-large">This is a large text</p>
                    <p class="text-center">This is a center text</p>
                </div>

                <div class="code-container">
                    <pre>
<code class="html">
    <p class="text-lt">This is a line through text</p>
    <p class="text-ul">This is a underline text</p>
    <p class="text-up">This is a uppercase text</p>
    <p class="text-p-color">This is a primary color text</p>
    <p class="text-s-color">This is a secondary color text</p>
    <p class="text-grey">This is a grey text</p>
    <p class="text-small">This is a small text</p>
    <p class="text-large">This is a large text</p>
    <p class="text-center">This is a center text</p>
                 </code>
                </pre>
                </div>
            </div>


            <div class="content-container avatar-profile text-util-container">
                <h2 class="head-1">Spacing Utilites</h2>
                <p>GamBit UI uses <strong>Margin</strong> and <strong>Padding</strong> properties like



                    <div class="example-container">
                        <p> <strong>.m-05</strong> for margin 0.5rem, </p>
                        <p> <strong>.m-01</strong> for margin 1rem,</p>
                        <p> <strong>.m-15</strong> for margin 1.5rem,</p>
                        <p> <strong>.m-2</strong> for margin 2rem</p>
                    </div>
                    <div class="example-container">
                        <p> <strong>.p-05</strong> for padding 0.5rem, </p>
                        <p> <strong>.p-01</strong> for padding 1rem,</p>
                        <p> <strong>.p-15</strong> for padding 1.5rem,</p>
                        <p> <strong>.p-2</strong> for padding 2rem</p>
                    </div>


            </div>





            <footer class="footer">
                <div class="footer-head">
                    <h4>Made by <span class="logo-img">Vivek Mehto</span></h4>

                </div>
                <div class="footer-icons">
                    <a href="https://www.linkedin.com/in/vivek-mehto-8a22841ba/" target="_blank"><i
                            class="fab fa-linkedin-in"></i></a>
                    <a href="https://www.instagram.com/vivekmehto/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://github.com/vivekmehto" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://twitter.com/vivekmehto_" target="_blank"><i class="fab fa-twitter"></i></a>


                </div>
                <div class="footer-head">
                    <h4>©️ <span class="logo-img">♞</span>GamBit UI | 2022</h4>
                </div>

            </footer>


        </div>


    </main>


    <a href="#" role="button" class="btn btn-primary btn-float"><i class="fas fa-arrow-up"></i></a>




    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
    <script src="/src/highlightjs.js"></script>
</body>

</html>