.toast {
  margin: 0.8rem;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  border-radius: 5px;
  background-color: var(--grey);
  display: none;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.toast-button .btn {
  color: var(--black);
  padding: 0.5rem;
  margin-left: 1rem;
  box-shadow: none;
}

.toast-baseline {
  display: none;
  left: 35%;
}

.toast-stacked {
  display: none;
  flex-direction: column;
  right: 0;
}

.toast-stacked .toast-button {
  align-self: flex-end;
}
