<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List | GamBit UI</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon/gambit-favicon.ico">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/base16/dracula.min.css"
        integrity="sha512-zKpFlhUX8c+WC6H/XTJavnEpWFt2zH9BU9vu0Hry5Y+SEgG21pRMFcecS7DgDXIegXBQ3uK9puwWPP3h6WSR9g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>


    <header class="header">

        <h1 class="logo"><a href="/index.html"><span class="logo-img">♞</span>GamBit UI</a></h1>

        <nav class="header-nav">
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/html/intro.html">Docs</a></li>
            </ul>
        </nav>

        <button class="btn btn-secondary btn-lg btn-download"><a href="/gambit.min.css"
                download="gambit.min.css">Download</a></button>
    </header>


    <div class="burger">
        <h1><i class="fa fa-thin fa-bars"></i></h1>
    </div>


    <main class="main-intro">


        <aside id="sidebar-aside">
            <div class="sidebar">
                <div class="list">
                    <div class="list-topic">
                        <a href="/html/intro.html">
                            Get Started
                        </a>
                    </div>
                    <ul class="list-subtopic">
                        <li>
                            <a href="/html/intro.html#indroduction">
                                Introduction
                            </a>
                        </li>
                        <li>
                            <a href="/html/intro.html#installation">
                                Installation
                            </a>
                        </li>
                        <li>
                            <a href="/html/intro.html#download">
                                Download
                            </a>
                        </li>
                        <li>
                            <a href="/html/intro.html#colors">
                                Colors
                            </a>
                        </li>
                        <li>
                            <a href="/html/intro.html#typography">
                                Typography
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="list">
                    <div class="list-topic">
                        <a href="#" class="fw-b">Components</a>
                    </div>
                    <ul class="list-subtopic">
                        <li>
                            <a href="/components/alert/alert.html">
                                Alert
                            </a>
                        </li>
                        <li>
                            <a href="/components/avatar/avatar.html">
                                Avatar
                            </a>
                        </li>
                        <li>
                            <a href="/components/badge/badge.html">
                                Badge
                            </a>
                        </li>
                        <li>
                            <a href="/components/button/button.html">
                                Button
                            </a>
                        </li>
                        <li>
                            <a href="/components/card/card.html">
                                Card
                            </a>
                        </li>
                        <li>
                            <a href="/components/image/image.html">
                                Image
                            </a>
                        </li>
                        <li>
                            <a href="/components/input/input.html">
                                Input
                            </a>
                        </li>
                        <li>
                            <a class="active" href="/components/list/list.html">
                                Lists
                            </a>
                        </li>
                        <li>
                            <a href="/components/modal/modal.html">
                                Modal
                            </a>
                        </li>
                        <li>
                            <a href="/components/navigation/nav.html">
                                Navigation
                            </a>
                        </li>
                        <li>
                            <a href="/components/toast/toast.html">
                                Toast
                            </a>
                        </li>
                        <li>
                            <a href="/components/utilities/utilities.html">
                                Utilities
                            </a>
                        </li>
                        <li>
                            <a href="/components/rating/rating.html">
                                Rating
                            </a>
                        </li>
                        <li>
                            <a href="/components/grid/grid.html">
                                Grid
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


        </aside>



        <div class="content">


            <div class="content-container avatar-profile">
                <h1 class="head-1">List</h1>
                <p>Lists are continuous, vertical indexes of text or images. They are composed of items containing
                    primary and supplemental actions, which are represented by icons and text.</p>


            </div>





            <div class="content-container avatar-profile">
                <h2 class="head-1">Simple List Groups</h2>

                <div class="example-container">


                    <ul class="list">
                        <div class="list-title">Categories</div>
                        <li>Chess Board</li>
                        <li>Chess Clock</li>
                        <li>Books</li>
                    </ul>

                </div>

                <div class="code-container">
                    <pre>
<code class="html">
        <ul class="list">
            <div class="list-title">Categories</div>
            <li>Chess Board</li>
            <li>Chess Clock</li>
            <li>Books</li>
        </ul>
                 </code>
                </pre>
                </div>
            </div>


            <div class="content-container avatar-profile">
                <h2 class="head-1">Nested List Groups</h2>



                <div class="example-container">
                    <ul class="list">
                        <div class="list-title">Categories</div>
                        <li>Chess Board</li>
                        <li class="list-sub">
                            <div>Books</div>
                            <ul>
                                <li>Opening</li>
                                <li>Middle game</li>
                                <li>Endgame</li>
                            </ul>
                        </li>
                        <li>Chess Clock</li>
                        <li>NoteBooks</li>
                    </ul>
                </div>

                <div class="code-container">
                    <pre>
<code class="html">
        <ul class="list">
            <div class="list-title">Categories</div>
            <li>Chess Board</li>
            <li class="list-sub">
                <div>Books</div>
                <ul>
                    <li>Opening</li>
                    <li>Middle game</li>
                    <li>Endgame</li>
                </ul>
            </li>
            <li>Chess Clock</li>
            <li>NoteBooks</li>
        </ul>
                 </code>
                </pre>
                </div>
            </div>





            <div class="content-container avatar-profile">
                <h2 class="head-1">Select List Groups</h2>
                <p>Select List groups contains items with checkboxes. They are useful for refining the products search
                    on an eCommerce website.</p>



                <div class="example-container">

                    <div class=" list check-list">

                        <div class="list-title">
                            Type
                        </div>
                        <div class="checkbox">
                            <label class="checkbox-label" for="checkbox-1">
                                <input id="checkbox-1" name="checkbox" type="checkbox" checked>
                                Premium
                            </label>
                            <label class="checkbox-label" for="checkbox-2">
                                <input id="checkbox-2" name="checkbox" type="checkbox" checked>
                                Wooden
                            </label>
                            <label class="checkbox-label" for="checkbox-3">
                                <input id="checkbox-3" name="checkbox" type="checkbox">
                                Automated
                            </label>
                        </div>
                    </div>
                </div>

                <div class="code-container">
                    <pre>
<code class="html">
   
    <div class=" list check-list">
        <div class="list-title">
            Type
        </div>
        <div class="checkbox">
            <label class="checkbox-label" for="checkbox-1">
                <input id="checkbox-1" name="checkbox" type="checkbox" checked>
                Premium
            </label>
            <label class="checkbox-label" for="checkbox-2">
                <input id="checkbox-2" name="checkbox" type="checkbox" checked>
                Wooden
            </label>
            <label class="checkbox-label" for="checkbox-3">
                <input id="checkbox-3" name="checkbox" type="checkbox">
                Automated
            </label>
        </div>
    </div>
                 </code>
                </pre>
                </div>
            </div>
            <div class="div-button">
                <a class="btn btn-dark btn-lg" href="/components/input/input.html" role="button">Previous</a>

                <a class="btn btn-primary btn-lg" href="/components/modal/modal.html" role="button">Next</a>
            </div>


            <footer class="footer">
                <div class="footer-head">
                    <h4>Made by <span class="logo-img">Vivek Mehto</span></h4>

                </div>
                <div class="footer-icons">
                    <a href="https://www.linkedin.com/in/vivek-mehto-8a22841ba/" target="_blank"><i
                            class="fab fa-linkedin-in"></i></a>
                    <a href="https://www.instagram.com/vivekmehto/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://github.com/vivekmehto" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://twitter.com/vivekmehto_" target="_blank"><i class="fab fa-twitter"></i></a>


                </div>
                <div class="footer-head">
                    <h4>©️ <span class="logo-img">♞</span>GamBit UI | 2022</h4>
                </div>

            </footer>


        </div>


    </main>


    <a href="#" role="button" class="btn btn-primary btn-float"><i class="fas fa-arrow-up"></i></a>




    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
    <script src="/src/highlightjs.js"></script>
    <script src="/app.js"></script>
</body>

</html>