<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation | GamBit UI</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon/gambit-favicon.ico">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/base16/dracula.min.css"
        integrity="sha512-zKpFlhUX8c+WC6H/XTJavnEpWFt2zH9BU9vu0Hry5Y+SEgG21pRMFcecS7DgDXIegXBQ3uK9puwWPP3h6WSR9g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>


    <header class="header">

        <h1 class="logo"><a href="#"><span class="logo-img">♞</span>GamBit UI</a></h1>

        <nav class="header-nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Docs</a></li>
            </ul>
        </nav>

        <button class="btn btn-secondary btn-lg btn-download"><a href="">Download</a></button>

    </header>



    <main class="main-intro">


        <aside>
            <div class="sidebar">
                <div class="list">
                    <div class="list-topic">
                        <a href="#">
                            Get Started
                        </a>
                    </div>
                    <ul class="list-subtopic">
                        <li>
                            <a href="#introduction">
                                Introduction
                            </a>
                        </li>
                        <li>
                            <a href="#installation">
                                Installation
                            </a>
                        </li>
                        <li>
                            <a href="#download">
                                Download
                            </a>
                        </li>
                        <li>
                            <a href="#colors">
                                Colors
                            </a>
                        </li>
                        <li>
                            <a href="#typography">
                                Typography
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="list">
                    <div class="list-topic">
                        <a href="#" class="fw-b">Components</a>
                    </div>
                    <ul class="list-subtopic">
                        <li>
                            <a href="#">
                                Alert
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Avatar
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Badge
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Button
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Card
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Image
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Input
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Lists
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Modal
                            </a>
                        </li>
                        <li>
                            <a class="active" href="#">
                                Navigation
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Toast
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Text Utilities
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Rating
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Grid
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


        </aside>


        <div class="content">


            <div class="content-container avatar-profile">
                <h1 class="head-1">Navigation</h1>
                <p>Navigation is a section of a page whose purpose is to provide navigation links, either within the
                    current document
                    or to other documents. Common examples of navigation sections are menus, tables of contents, and
                    indexes.</p>


            </div>





            <div class="content-container">
                <h2 class="head-1">Desktop Navigation</h2>

                <div class="example-container">
                    <header class="head">
                        <h1 class="logo"><a href="#">♞Store</a></h1>



                        <nav class="header-nav">
                            <div class="header-search">

                                <input type="text" name="search-box" id="search" placeholder="Search">
                                <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>

                            </div>
                            <ul>
                                <li><a href="#"><i class="fas fa-user-circle header-icon"></i>Login</a></li>
                                <li><a href="#"><i class="fas fa-shopping-cart header-icon"></i>Cart</a></li>
                            </ul>
                        </nav>


                    </header>
                </div>

                <div class="code-container">
                    <pre>
<code class="html">
    <header class="head">
        <h1 class="logo"><a href="#">♞GamBit Store</a></h1>



        <nav class="header-nav">
            <div class="header-search">

                <input type="text" name="search-box" id="search" placeholder="Search">
                <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>

            </div>
            <ul>
                <li><a href="#"><i class="fas fa-user-circle header-icon"></i>Login</a></li>
                <li><a href="#"><i class="fas fa-shopping-cart header-icon"></i>Cart</a></li>
            </ul>
        </nav>


    </header>
                 </code>
                </pre>
                </div>
            </div>




            <footer class="footer">
                <div class="footer-head">
                    <h4>Made by <span class="logo-img">Vivek Mehto</span></h4>

                </div>
                <div class="footer-icons">
                    <a href="https://www.linkedin.com/in/vivek-mehto-8a22841ba/" target="_blank"><i
                            class="fab fa-linkedin-in"></i></a>
                    <a href="https://www.instagram.com/vivekmehto/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://github.com/vivekmehto" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://twitter.com/vivekmehto" target="_blank"><i class="fab fa-twitter"></i></a>


                </div>
                <div class="footer-head">
                    <h4>©️ <span class="logo-img">♞</span>GamBit UI | 2022</h4>
                </div>

            </footer>


        </div>


    </main>


    <a href="#" role="button" class="btn btn-primary btn-float"><i class="fas fa-arrow-up"></i></a>




    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
    <script src="/src/highlightjs.js"></script>
</body>

</html>