.rating {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.star {
  cursor: pointer;
  color: var(--yellow-l);
}

.rated {
  color: var(--yellow-l);
}

.rating-badge {
  font-size: 1.5rem;
  background-color: var(--slate);
  padding: 4px;
  border-radius: 5px;
  margin-left: 2rem;
}
